* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #111827;
}


/* MAIN BACKGROUND */

.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* CHAT BOX */

.chat-box {
  width: 100%;
  max-width: 430px;
  height: 90vh;

  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(12px);

  border-radius: 22px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  box-shadow: 0 15px 40px rgba(0,0,0,.35);
}


/* JOIN NAME + ROOM CODE SECTION */

.join-form {

  padding: 45px 30px;

  display: flex;

  flex-direction: column;

  gap: 25px;

}


.join-form input {

  width: 100%;

  padding: 20px;

  border-radius: 15px;

  border: 2px solid #dbe4f0;

  font-size: 20px;

  outline: none;

}


.join-form input:focus {

  border-color: #2563eb;

}



.join-form button {

  width: 100%;

  padding: 20px;

  border-radius: 15px;

  border: none;

  background: #2563eb;

  color: white;

  font-size: 20px;

  font-weight: bold;

  cursor: pointer;

}



/* HEADER */

.chat-header {

  background: rgba(37,99,235,0.85);

  color: white;

  text-align: center;

  padding: 25px 20px;

}


.chat-header h2 {

  font-size: 32px;

  margin-bottom: 8px;

}


.chat-header p {

  font-size: 18px;

}


/* MESSAGES */

.messages {

  flex: 1;

  overflow-y: auto;

  padding: 18px;

  background: rgba(248,250,252,0.35);

}



/* MESSAGE */

.message {

  max-width: 65%;

  width: fit-content;

  padding: 8px 12px;

  margin-bottom: 10px;

  border-radius: 16px;

  word-break: break-word;

  line-height: 1.4;

}


.message-time {

  margin-top: 4px;

  font-size: 11px;

  text-align: right;

}



.sent {

  margin-left: auto;

  background: #2563eb;

  color: white;

}



.received {

  margin-right: auto;

  background: rgba(255,255,255,.8);

  color: #111827;

}



/* INPUT */

.input-box {

  display: flex;

  gap: 10px;

  padding: 15px;

  background: rgba(255,255,255,.75);

}



.input-box input {

  flex:1;

  padding:14px;

  border-radius:12px;

  border:2px solid #dbe4f0;

  font-size:16px;

}



.input-box button {

  padding:14px 22px;

  border:none;

  border-radius:12px;

  background:#2563eb;

  color:white;

  font-weight:bold;

}



/* MOBILE */

@media(max-width:600px){


.chat-container{

 padding:0;

}


.chat-box{

 width:100%;

 height:100vh;

 border-radius:0;

}



.join-form {

 padding:35px 20px;

}


.join-form input {

 font-size:18px;

 padding:18px;

}


.join-form button {

 font-size:18px;

 padding:18px;

}


}